.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

/* Latest Comments */
.comment-container {
  padding: 16px 0;
  border-top: 1px solid grey;
}
.comment-artists {
  color: #999;
}
