/* App */
.App {
  margin: 0;
  box-sizing: border-box;
}

/* Main */
.main {
  padding: 20px;
  min-height: 80vh;
}

/* Button */
button:focus {
  outline: none;
  box-shadow: none;
}

.my-button {
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  border: 1px solid;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04),
    inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  color: #24292e;
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
}

.my-button:hover {
  background-color: #f3f4f6;
  transition-duration: 0.1s;
}

.btn-primary {
  color: #fff;
  background-color: #5ad85a;
  border-color: rgba(27, 31, 35, 0.15);
}

.btn-primary:hover {
  background-color: #4cd033;
}

/* Link */
.my-link {
  color: black;
}

.my-link:hover {
  color: black;
}

/* Box */
.box {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 10px;
  transition-duration: 0.2s;
}

.box:hover {
  box-shadow: 0px 1px 3px 0px rgba(60, 64, 67, 0.3),
    0px 4px 8px 3px rgba(60, 64, 67, 0.15);
}

/* Form */
.form-control {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
  width: 100%;
}

.form-checkbox {
  margin-right: 5px;
  margin-left: 3px;
  transform: scale(1.2);
}

textarea {
  height: 80px;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  justify-content: space-between;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Search bar */
div.results {
  overflow-y: scroll;
  max-height: 400px;
}

.searchBarContainer {
  margin-right: 30px;
}

/* Comment Component */
.comment-container p {
  margin: 0;
  margin-top: 5px;
}

/* Track Page */
.track-summary {
  max-width: 300px;
}

/* Track Summary */
.track-image-container {
  max-width: 200px;
}
.track-image {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

/* Track Audio Chart */
.audio-feature {
  max-width: 250px;
  /* temp fix */
  transform: translate(-20px, 0);
}
.VictoryContainer > svg {
  overflow: visible;
}

/* Track Comment Form  */
.track-comment {
  margin-bottom: 10px;
}
.btn-open-form {
  display: block;
  user-select: none;
}

#trackCommentForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

#trackCommentForm div {
  padding-bottom: 10px;
}

.error-msg {
  color: red;
}

.checkbox-label {
  font-weight: 600;
}

.btn-cancel-form {
  margin-left: 5px;
}
